.mdui-card-header{background-color: #424242;}
.mdui-color-white{background-color: #0000 !important;color: #fff !important;}
.mdui-text-color-black{color: #fff !important;}
code{background-color: #0000 !important;color: #66ccff}
.vinput{color: #fff !important;}
.md-body{color: #fff}
.md-body blockquote{color: #bbb;}
::-webkit-input-placeholder,.vctrl{color:rgba(255, 255, 255, 0.726)}
.vemoji-btn,.vpreview-btn,.vcontent *{color: #fff !important;}
.vsys{background: rgb(112, 112, 112) !important;color: #fff !important;}
.v .vlist .vcard .vcontent.expand:before{background:linear-gradient(180deg,hsla(0,0%,100%,0),hsl(0, 0%, 26%));}
.v .vlist .vcard .vcontent.expand:after{background-color: hsl(0, 0%, 26%);}
.aplayer-title,.aplayer-list-title{color: #000;}