.text{color: #fff;}
.mdui-appbar{background-color: #212121 !important;}
.md-body blockquote{color: #bbb;}
a{color:#51b9ff;}
code{color:#708fff;}
.vinput,.vcontent *{color: #fff !important;}
.vicon{fill:#fff !important;}
.vbtn{background-color: #fff !important;}