.mdui-appbar{background-color: #fff;box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);}
.mdui-card{border-radius: 6px;box-shadow:0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);}
.article{margin-top: 50px;}
body{font-family: "Fira Sans","Helvetica Neue",Helvetica,Arial,sans-serif,Monaco,Hack,Ubuntu,Consolas,"微软雅黑";font-size: 17px;}
pre code,pre tt{padding:8px;font-size:16px;}
#toc{
    line-height: 28px;
    font-size: 14px;
    padding-left: 10px;
}
a{text-decoration-line: none;color:#0099fe;}
.text{color:#000;}
code{color:#0037ff;font-family: Monaco,Ubuntu mono,Hack,Consolas;}