{%extends "index.html"%}
{%block content_head%}
<div class="mdui-typo">
    <h1>
        {%set path_=path.split('/')%}
        {%for i in path_-%}
        {%if not loop.last%}
        <a href="{{config.site.rt}}{%for j in range(0,loop.index)-%}{{path_[j]}}/{%-endfor%}">{{i}}/</a>
        {%endif%}
        {%-endfor%}
        {%if total%}
        <small>共{{total}}篇文章</small>
        {%endif%}
    </h1>
</div>
{%if sub%}
<div class="mdui-row-xs-1 mdui-row-sm-2 mdui-row-md-4 mdui-row-lg-5" style="word-wrap:break-word;word-break:break-all;padding-top: 50px;">
{%for i in sub-%}
    <div class="mdui-col">
        <a href="{{config.site.rt}}{{path}}{{i}}/">
            <div class="mdui-card">
                <div class="mdui-card-primary">
                    <div class="mdui-card-primary-title">{{i}}</div>
                </div>
            </div>
        </a><br>
    </div>
{%-endfor%}
</div>
{%endif%}
{%endblock%}