<div class="mdui-drawer mdui-drawer-close" id="drawer">
    <ul class="mdui-list">
        {%for i in t_config.drawer-%}
            <li class='mdui-subheader'>{{i}}</li>
            {%for j in t_config.drawer[i]-%}
                <li class="mdui-list-item">
                    {%if j.icon.typ=='mdui'%}
                    <i class="mdui-list-item-icon mdui-icon material-icons" {{"style='color:%s'"%j.icon.color if j.icon.color}}">{{j.icon.data}}</i>
                    {%elif j.icon.typ=='mqii'%}
                    <i class="mdui-list-item-icon mdui-icon mqii mqii-{{j.icon.data}}" {{"style='color:%s'"%j.icon.color if j.icon.color}}"></i>
                    {%else%}
                    <img class="mdui-list-item-icon" src="{{j.icon.data}}" alt>
                    {%endif%}
                    <a href="{{j.url}}" target="_blank" rel="noopener" class="mdui-list-item-content">{{j.content}}</a>
                </li>
            {%-endfor%}
        {%-endfor%}
    </ul>
</div>