<div class="mdui-row">
    <div class="mdui-col-sm-8" style="padding-top: 50px;">
        <div class="mdui-card">
            <div class="mdui-card-media" style="height: 400px;">
                <img data-src="{{t_config.head_card.img}}" style="height:inherit;object-fit: cover;" src='{{assets_rt}}icon/loading.svg' alt>
                <div class="mdui-card-media-covered mdui-card-media-covered-gradient">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">{{t_config.head_card.text}}</div>
                    </div>
                </div>
            </div>
            <div class="mdui-card-header">
                <img class="mdui-card-header-avatar" data-src="{{t_config.avatar}}" src='{{assets_rt}}icon/loading.svg' alt>
                <div class="mdui-card-header-title">{{config.author}}</div>
                <div class="mdui-card-header-subtitle">{{t_config.head_card.introduction}}</div>
            </div>
        </div>
    </div>
    <div class="mdui-col-sm-4" style="padding-top: 50px;">
        <div class="mdui-card">
            <div class="mdui-card-media" style="height: 400px;">
                <img data-src="{{t_config.head_card.logo}}" src='{{assets_rt}}icon/loading.svg' style="margin:auto;position: absolute;top:0;bottom:0;left:0;right:0;" alt>
            </div>
            <div class="mdui-card-menu">
                {%include 'share_menu.html'%}
            </div>
            <div class="mdui-card-header">
                <div class="mdui-card-primary-title">{{config.site_name}}</div>
                <div class="mdui-card-menu">
                    <button mdui-menu="{target:'#home_pages_menu',position:'top',align:'right',covered: false}" mdui-tooltip="{content: '页面'}" class="mdui-btn mdui-btn-icon">
                        <i class="mdui-icon material-icons">view_carousel</i>
                    </button>
                    <ul id='home_pages_menu' class="mdui-menu" style="width: fit-content;">
                        {%for i in t_config.head_card.pages-%}
                        <li class="mdui-menu-item">
                            <a href="{{t_config.head_card.pages[i]}}" target="_blank" rel="noopener">{{i}}</a>
                        </li>
                        {%-endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
