{%set page_typ='index'%}
{%set math=nodes|selectattr('math')|list|length%}
{%extends "base.html"%}
{%block content%}
{%block content_head%}
{%if not addr%}{%include "head_card.html"%}{%endif%}
{%endblock%}
{%if nodes%}
{%from "macros.html" import gen_tags,gen_categories,md%}
{%for i in nodes-%}
<div class="mdui-card article">
    {%if i.thumbnail or t_config.theme=='beauty'%}
    <a href="{{i.link}}" class="mdui-card-media">
        <img data-src="{{i.thumbnail or randimg()}}" height="300px" style="object-fit: cover;" src='{{assets_rt}}icon/loading.svg' alt>
    </a>
    {%endif%}
    <div class="mdui-card-primary">
        <a href="{{i.link}}" class="mdui-card-primary-title">{%if i.top>0%}[置顶]{%elif i.top<0%}[置底]{%endif%} {{i.title}}</a>
        <div class="mdui-card-primary-subtitle">{{gen_tags(i.tags)}}</div>
    </div>
    {%if cookies and cookies.secret==config.server.secret%}
    <div class="mdui-card-menu">
        <a href='/admin/editPost/{{i.pos}}' class="mdui-btn mdui-btn-icon">
            <i class="mdui-icon material-icons">edit</i>
        </a>
    </div>
    {%endif%}
    <div class="mdui-card-header">
        {%if i.avatar or t_config.avatar %}
        <img data-src="{{i.avatar or t_config.avatar}}" src='{{assets_rt}}icon/loading.svg' alt='avatar' class="mdui-card-header-avatar">
        {%endif%}
        <div class="mdui-card-header-title">{{i.author}}</div>
        <div class="mdui-card-header-subtitle">{{i.date}}</div>
        <div class="mdui-card-menu">
            {%if i.categories%}
            <button class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '文章分类'}" mdui-menu="{target:'#categories-{{loop.index}}',align:'right',covered: false}">
                <i class="mdui-icon material-icons">bookmark</i>
            </button>
            <ul class="mdui-menu" id="categories-{{loop.index}}">{{gen_categories(i.categories)}}</ul>
            {%endif%}
        </div>
    </div>
    <div class="mdui-card-content">
        <div class="md-body text" style="font-size:14px">{{"该文章有密码保护" if i.password else md(i.preview,i.math)}}</div>
    </div>
</div>
{%-endfor%}
<div class="mdui-row-xs-3 article">
    <div class="mdui-col">
        <a href="{{pre.link}}" class="mdui-btn mdui-btn-icon" {{'disabled' if not pre}} id='pre_button'>
            <i class="mdui-icon material-icons">arrow_back</i>
        </a>
    </div>
    <div class="mdui-col mdui-text-center">{{id}} / {{TOTAL}}</div>
    <div class="mdui-col">
        <a href="{{nxt.link}}" class="mdui-btn mdui-btn-icon mdui-float-right" {{'disabled' if not nxt}} id='nxt_button'>
            <i class="mdui-icon material-icons">arrow_forward</i>
        </a>
    </div>
</div>
{%endif%}
{%endblock%}