{%macro gen_tags(tags)%}
{%for tag in tags-%}
<a href="{{config.site.rt}}tags/{{tag}}/" class="mdui-chip">
    <span class="mdui-chip-title">{{tag}}</span>
</a>
{%-endfor%}
{%endmacro%}
{%macro gen_categories(categories)%}
{%for j in categories-%}
<li class="mdui-menu-item">
    <a href="{{config.site.rt}}categories/{{j|join('/')}}/">{{j|join('/')}}</a>
</li>
{%-endfor%}
{%endmacro%}

{%macro md(text,math)%}
{%if math or t_config.all_math%}{{text|markdown_math}}{%else%}{{text|markdown}}{%endif%}
{%endmacro%}

{%macro randimg()%}
{%if t_config.randomimg.type=='folder'%}
    {{t_config.randomimg.folder+range(0,t_config.randomimg.cnt)|random|string+'.'+t_config.randomimg.suf}}
{%else%}
    {{t_config.randomimg.list|random}}
{%endif%}
{%endmacro%}