{%set page_typ='article'%}
{%extends "base.html"%}
{%block content%}
<div class="mdui-card article">
    {%if t_config.theme=='beauty'%}
    <div class="mdui-card-media">
        <img data-src="{{mg(thumbnail,randimg())}}" height="300px" style="object-fit: cover;" src='{{assets_rt}}/icon/loading.svg' alt>
        <div class="mdui-card-media-covered">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">{{title}}</div>
                <div class="mdui-card-primary-subtitle">{{gen_tags(tags)}}</div>
            </div>
        </div>
    </div>
    {%else%}
    <div class="mdui-card-primary">
        <a href="#" class="mdui-card-primary-title">{{title}}</a>
        <div class="mdui-card-primary-subtitle">{{gen_tags(tags)}}</div>
    </div>
    {%endif%}
    <div class="mdui-card-header">
        <img class="mdui-card-header-avatar" src="{{mg(avatar,t_config.avatar)}}" alt='avatar'>
        <div class="mdui-card-header-title">{{author}}</div>
        <div class="mdui-card-header-subtitle">{{date}}</div>
        <div class="mdui-card-menu">
            <button class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '文章分类'}" mdui-menu="{target:'#categories',align:'right',covered: false}">
                <i class="mdui-icon material-icons">bookmark</i>
            </button>
            <ul class="mdui-menu" id="categories">{{gen_categories(categories)}}</ul>
            {%if t_config.busuanzi.enable%}
            <button class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '本文阅读量'}" mdui-menu="{target:'#visit_counter',align:'right',covered: false}">
                <i class="mdui-icon material-icons">remove_red_eye</i>
            </button>
            <ul class="mdui-menu" id="visit_counter">
                <li class="mdui-menu-item">
                    <div id="busuanzi_container_page_pv">
                        <center>本文总阅读量<span id="busuanzi_value_page_pv"></span>次</center>
                    </div>
                </li>
            </ul>
            {%endif%}
            {%include 'share_menu.html'%}
        </div>
    </div>
    <div class="mdui-card-content">
        {{html}}
        
        {%if password%}
        <div id="md-body" class="md-body" hidden>{{content|markdown_math|encrypt(password)}}</div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">请输入密码:</label>
            <input class="mdui-textfield-input" type="password" id="passwd">
        </div>
        <script src='https://cdn.jsdelivr.net/gh/brix/crypto-js@4.0.0/crypto-js.min.js'></script>
<script>
function de(data,passwd){while(passwd.length%16)passwd+='\0';var decrypt=CryptoJS.AES.decrypt(data,CryptoJS.enc.Utf8.parse(passwd),{mode: CryptoJS.mode.ECB,padding: CryptoJS.pad.Pkcs7});return decrypt.toString(CryptoJS.enc.Utf8);}
var md_body=document.getElementById('md-body'),passwd=document.getElementById('passwd');
const content=md_body.innerText;
passwd.oninput=function(){
    var data=de(content,this.value);
    if(data){
        md_body.innerHTML=data;
        this.parentElement.hidden=1;
        md_body.hidden=0;
        highlight(),gentoc("md-body"),katex_();
    }
}
</script>
        {%else%}
        <div id="md-body" class="md-body">{{content|markdown_math}}</div>
        {%endif%}
    </div>
</div>
{%if comment==True%}{%include "comment.html"%}{%endif%}
{%endblock%}