<div class="mdui-dialog" id="search_dialog" style="min-height: 50%;">
    <div class="mdui-dialog-title">Search</div>
    <div class="mdui-dialog-content">
        <div class="mdui-textfield">
            <i class="mdui-icon material-icons">search</i>
            <input id="search_input" class="mdui-textfield-input" placeholder="搜索">
        </div>
        <div id="search_result" class="mdui-list"></div>
    </div>
</div>
{%if t_config.search.typ=='file'%}
<script async src='{{assets_rt}}local_search.js'></script>
<script>document.getElementById('search_input').onchange=function(){search("{{t_config.search.file}}");}</script>
{%elif t_config.search.typ=='worker'%}
<script async src='{{assets_rt}}serverless_search.js'></script>
<script>document.getElementById('search_input').onchange=function(){search("{{t_config.search.api}}");}</script>
{%endif%}