<link rel="stylesheet" href="{{assets_rt}}/mdui/css/mdui.min.css">
<link rel="stylesheet" href="{{assets_rt}}/theme/origin.css">
<link rel="stylesheet" href="{{assets_rt}}/icon/mqii/mqii.css">
<link rel="stylesheet" href="/custom.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/{{t_config.highlight.theme}}.min.css">
<link rel="stylesheet" href="{{assets_rt}}/markdown.min.css">
{%if config.math%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">
{%endif%}